# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* List some Data Science Tools
* Show a few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:        
1. PYTHON
2. R
3. SQL
4. JAVA

Some of the commonly used libraries used by Data Scientists include:
1. SciPy
2. Pandas
3. NumPy

| Data Science Tools |
| -------------|
| Jupyter Lab |
| Apache Zeppelin |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Caroline Atienza